.section_container {
position: relative;
}
.text_container{
position: absolute;
top:40%;
right:10%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container22 {
position: relative;
}
.text_container22{
position: absolute;
top:40%;
right:20%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container33 {
position: relative;
}
.text_container33{
position: absolute;
top:40%;
right:30%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container44 {
position: relative;
}
.text_container44{
position: absolute;
top:40%;
right:25%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container55 {
position: relative;
}
.text_container55{
position: absolute;
top:40%;
right:20%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container66 {
position: relative;
}
.text_container66{
position: absolute;
top:40%;
right:0%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.section_container77 {
position: relative;
}
.text_container77{
position: absolute;
top:40%;
right:35%;
color:white ;
text-align: center;
background-color: gray;
opacity:0.9;
padding: 10px 20px;
font-size: 50px;
border-radius: 5px; /* Rounded corners */
}
.button-container00 {
    text-align: center;
    background-color: #ff6347;
}

.home_container {
position: relative;
}
.home_text_container{
position: absolute;
top:5%;
left:20%;
right:20%;
color: white;
text-align: center;
background-color: Transparent;
padding: 10px 20px;
font-size: 30px;
border-radius: 5px; /* Rounded corners */
}  
.container-text123 {
    text-align: center;
    font-size: 40px;
    top:50%;
    left:20;
    right;20;
    color: #FFA500;
    
}

.fade-text h1  {
    font-size: 40px;
    color: #FFFF00;
    transition: opacity 0.5s ease-in-out;
}
.section_container1 {
position: relative;
}
.text_container1{
position: absolute;
top:10%;
left:20%;
right:20%;
color: white;
text-align: center;
background-color: Transparent;
padding: 10px 20px;
font-size: 20px;
border-radius: 5px; /* Rounded corners */
}
body {
    font-family: Arial, sans-serif;
}

.slideshow-container {
    width: 80%;
    top: 50%;
    margin: 50px auto;
    overflow: hidden;
}

.logo-slide {
    display: flex;
    width: calc(100% * 14 / 4); /* 14 logos, 4 showing at a time */
    animation: slide 28s infinite linear;
}

.logo-slide img {
    width: calc(100% / 4); /* Show 4 logos at a time */
    padding: 10px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }

.blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.thumbnail img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.post-details {
    padding: 15px;
    text-align: center;
}

.post-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.post-details p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.read-more {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}


.quote-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: Transparent; /* Button color */
    color: white; /* Text color */
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

.quote-button:hover {
    background-color: white; /* Darker shade on hover */
}
.featured-image {
      height: auto;
}

.featured-image1 img {
    height: auto;
    border-radius: 8px;
}
.featured-image2 img {
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 8px;
}
.container-text1234512345{
position: absolute;
top:50%;
color: white;
text-align: center;
background-color: Transparent;
padding: 10px 20px;
font-size: 40px;
border-radius: 5px; /* Rounded corners */
}
.section_container01 {
position: relative;
}
.text_container01{
position: absolute;
top:50%;
color: white;
text-align: center;
background-color: Transparent;
padding: 10px 20px;
font-size: 40px;
border-radius: 5px; /* Rounded corners */
}
* {
  font-family: Nunito, sans-serif;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.outer-container {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.inner-container {
  max-width: 1320px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.heading-text {
  font-size: 48px;
  line-height: 65px;
  font-weight: 900;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.sub-heading-text {
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.team-1-swiper {
  overflow: hidden;
}

.team-2-swiper {
  overflow: hidden;
}

.team-name {
  font-size: 24px;
  line-height: 34px;
  font-weight: 900;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.team-member-image {
  width: 270px;
  height: 230px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 200px;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.position {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  line-height: 24px;
  width: 200px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.arrow-left-1 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.swiper-slide {
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.arrow-left-2 {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  cursor: pointer;
}

.arrow-right-1 {
  height: 14px;
  cursor: pointer;
}

.swiper-slide.empty {
  width: auto;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin-left: -20px;
}

.swiper-container.team-1-swiper,
.swiper-container.team-2-swiper {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.arrow-right-2 {
  cursor: pointer;
}

@media (max-width: 768px) {
  .heading-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .sub-heading-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .team-member-image {
    width: 200px;
    height: 200px;
  }

  .outer-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}
.button-container12 {
top:50%;
color: white;
left:50%;
background-color: Transparent;
padding: 10px 20px;
font-size: 40px;
border-radius: 5px; /* Rounded corners */
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.05);
}

.image-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
