{{> head}}
{{> navbar}}
<main class="h-overflow tags">
    <div class="page section section--1">
        <div class="wrapper page__header">
            <h1>{{ translate 'search.title' }}</h1>
        </div>
    </div>
    <div class="section">
        <div class="wrapper">
            <div>
                {{{@customSearchContent}}}
            </div>
        </div>
    </div>
</main>
{{> newsletter}}
{{> footer}}